BasedOnStyle: Google
UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterFunction: true
  AfterStruct: true
  AfterEnum: true
  AfterNamespace: true
  BeforeLambdaBody: false
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
AccessModifierOffset: -4
IndentCaseLabels: false
AllowShortFunctionsOnASingleLine: InlineOnly
MaxEmptyLinesToKeep: 1
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
BinPackArguments: false
BinPackParameters: false